label for="title" Title:
input.title type="text" name="movie[title]" value="#{@movie.title}" size="40"
label for="content" Description:
textarea.content name="movie[content]" rows="5" cols="50" ==@movie.content
label for="director" Director:
input.director type="text" name="movie[director]" value="#{@movie.director}" size="40"
label for="trailer" Trailer:
input.trailer type="text" name="movie[trailer]" value="#{@movie.trailer}" size="40"
label for="poster" Poster:
input.poster type="text" name="movie[poster]" value="#{@movie.poster}" size="40"
